<p>
  <strong>Quantity:</strong>
  <%= @ingredient.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @ingredient.unit_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @ingredient.product_id %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
