<li><%= link_to 'Products', products_path %></li>
<li><%= link_to 'Categories', categories_path %></li>
<li><%= link_to 'Units', units_path %></li>
<li><%= link_to 'Plannings', plannings_path %></li>
<li><%= link_to 'Recipes', recipes_path %></li>
<li><%= link_to 'Tags', tags_path %></li>
