<p>
  <strong>Start date:</strong>
  <%= @planning.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @planning.end_date %>
</p>

<h2>Meals</h2>
<ul>
  <% @planning.meals.each do |meal| %>
    <li><%= meal %></li>
  <% end %>
</ul>
<p>
  <%= link_to 'Add New Meal', new_meal_path(planning_id: @planning.id) %>
</p>

<%= link_to 'Edit', edit_planning_path(@planning) %> |
<%= link_to 'Back', plannings_path %>
